
body {
  font-family: 'Helvetia Neue', 'Helvetica', Arial;
}

input:focus {
    outline:none;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

section {
  float: left;
  padding: 20px 50px 20px 50px;
}

h2 { color: #CCC; }

*{
  margin:0;
  padding:0;
  
}


.circulo{

  width: 400px;
  height: 350px;
 
  margin: 0 0;
  background:transparent;
  
}

.lamp{
  position:absolute;
  width:172px;
  height:172px;
  border-radius:100%;
  background:#f8e752;
 
  margin: 0px 112px;
  opacity:.3;
  animation:enciende .9s infinite alternate;
    -webkit-animation: enciende .9s alternate infinite ;
    animation:  enciende .9s infinite alternate;
    -moz-animation:  enciende  .9s  infinite alternate; 
     }
.lamp::before{
  content:"";
  display:block;
  width:5px;
  height:63px;
  background: #d5aa33;
  margin: 102px 60px;
  -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
  
}
.lamp::after{
  content:"";
  display:block;
  width:5px;
  height:63px;
  background: #d5aa33;
  margin: -163px 103px;
  -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    transform: rotate(12deg);
  
}
.fila{
  position:absolute;
  width: 21px;
  height:12px;
  border-radius: 0 0 30px 30px;
  border-bottom:5px solid white;
  margin: -172px 55px;
}
.fila::before{
  content:"";
  display:block;
  
  width: 21px;
  height:12px;
  border-radius: 0 0 30px 30px;
  border-bottom:5px solid white;
  margin: 3px 18px;
}
.fila::after{
  content:"";
  display:block;
  
  width: 21px;
  height:12px;
  border-radius: 0 0 30px 30px;
  border-bottom:5px solid white;
  margin: -23px 37px;
}
.redo{
  position:absolute;
  width:30px;
  height:30px;
  border-radius:100%;
  background:white;
  margin: 12px 152px;
}
.redo::before{
  content:"";
  display:blocK;
  
  width:21px;
  height:21px;
  border-radius:100%;
  background:white;
  margin: 25px -21px;
}
.base{
  position:absolute;
  width:70px;
  height:50px;
  background:#bebebe;
 
  margin:165px 162px;
}
.base::before{
  content:"";
  display:block;
  width:70px;
  height:30px;
  border-radius:0 0 70px 70px;
  background:#bebebe;
  margin:43px 0;
}
.base3{
  position:absolute;
  width:77px;
  height:9px;
  border-radius:3px;
  background:white;
  margin:-97px -3px;
  -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  
}
.base3::before{
  content:"";
  display:block;
 
  width:75px;
  height:9px;
  border-radius:3px;
  background:white;
  margin:12px 0px;
 
  
}
.base3::after{
  content:"";
  display:block;
 
  width:73px;
  height:9px;
  border-radius:3px;
  background:white;
  margin:-9px 0px;
  
}
.l1{
  position:absolute;
  width: 12px;
  height:30px;
  background:#fff300;
  margin: 121px 70px;
  -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    transform: rotate(-55deg);
  
}
.l2{
  position:absolute;
  width: 12px;
  height:30px;
  background:#fff300;
  margin: 55px 112px;
  -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  
}
.l3{
 position:absolute;
  width: 12px;
  height:30px;
  background:#fff300;
  margin: 21px 182px;
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  
}
.l4{
  position:absolute;
  width: 12px;
  height:30px;
  background:#fff300;
  margin:55px 261px;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  
}
.l5{
  position:absolute;
  width: 12px;
  height:30px;
  background:#fff300;
  margin: 121px 309px;
  -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
  
}

@-webkit-keyframes enciende { 
  0% {opacity:.3;}
  
  100% {opacity:1;}
}
@-moz-keyframes enciende { 
  0% {opacity:.3;}
  
  100% {opacity:1;}
}
@keyframes enciende { 
  0% {opacity:.3;}
  
  100% {opacity:1;}
}
#ani{
  
  animation:enciende .9s infinite alternate;
    -webkit-animation: rayos .9s alternate infinite ;
    animation:  enciende .9s infinite alternate;
    -moz-animation:  enciende  .9s  infinite alternate; 
}
#ani .l1 {
  -webkit-animation: rayos  0.1s infinite;
  -moz-animation: rayos  0.1s infinite;
  -o-animation:rayos  0.1s infinite;
  animation: rayos  0.1s infinite;
}

#ani .l2 {
  -webkit-animation: rayos .15s infinite;
  -moz-animation: rayos .15s infinite;
  -o-animation: rayos .15s infinite;
  animation: rayos  .15s infinite;
}

#ani .l3 {
  -webkit-animation: rayos .2s infinite;
  -moz-animation: rayos .2s infinite;
  -o-animation: rayos .2s infinite;
  animation: rayos .2s infinite;
}

#ani .l4{
  -webkit-animation: rayos .25s infinite;
  -moz-animation:rayos .25s infinite;
  -o-animation: rayos  .25s infinite;
  animation: rayos .25s infinite;
}

#ani .l5 {
  -webkit-animation: rayos .3s infinite;
  -moz-animation: rayos .3s infinite;
  -o-animation: rayos .3s infinite;
  animation: rayos .3s infinite;
}

@-webkit-keyframes rayos { 
  0% {opacity:0;}
  
  100% {opacity:1;}
}
@-moz-keyframes rayos { 
  0% {opacity:0;}
  
  100% {opacity:1;}
}
@keyframes rayos { 
  0% {opacity:0;}
  
  100% {opacity:1;}

}

@font-face {
  font-family: 'Press Start 2p';
}

body {
  font-family: 'Press Start 2p';
}
.video-game-button {
	text-shadow: 1px 1px pink, -1px -1px maroon;

	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
}
.start-btn{

    font-size: 30px;
    font-family: 'Proxima Nova';
    text-align: center;
	display: inline-block;
	margin:5px;
    padding: 10px 155px;
    background-color: whitesmoke;
    color: rgb(0,191,195);
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em lightgray;
    cursor: pointer;

}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.txt-red {
    color: rgb(255,0,51);
}

#console {
    border-top: 15px solid rgb(240,240,240);
    background-color: #333333;
    color: white;
    padding: 10px;
    width: 80%;
    min-width: 350px;
}

.code-container {
    width: 420px; 
    float:left; 
    margin: 0 10px;
}

#terminal {
    
}

.txt-green {
    color: rgb(138,244,133);
}

.txt-blue {
    color: rgb(0,233,220);
}

#color {
    color: aliceblue;
    background-color: transparent; 
    border: none;
}

#power {
    color: aliceblue;
    background-color: transparent; 
    border: none;
}

@media only screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
    
    .code-container {
        width: 90%;
    }
}
.flex-container {
    display: flex;
    align-content: flex-start;
    padding: 0 85px;
}